{% extends "base.html" %}


{% block content %}
{{ super() }}

<header class="navbar navbar-inverse">
        <div class="container-header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar">Home</span>
                            <span class="icon-bar">Resume</span>
                            <span class="icon-bar">Projects</span>
                            <span class="icon-bar">About</span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('hello') }}">Home<span class="sr-only">(current)</span></a></li>
                            <li><a href="{{ url_for('resume') }}">Resume<span class="sr-only">(current)</span></a></li>
                            <li><a href="{{ url_for('projects') }}">Projects</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <a class="navbar-brand" href="#" style="color: white;">Thomas Philip</a>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
    </header>

<body>
  <div class ="container">


	<h3>About Me</h3>

        <b>Hello</b>
  	      <p> Welcome and since you are already here let me introduce myself ! The name is Thomas Philip a.k.a Tom, someone who is passionate about technology and driven to contribute and help where possible.  </p>
        <b>What else should know about me?</b>
          <p>
            Birthdate perhaps ? 04 May 1987 . Oh yea ! I am a versatalist when it comes to work. I enjoy Analysis, development , design , documentation (really ;) ). I like solving problems
          </p>



    </div>
 {% endblock %}
