{% extends "base.html" %}


{% block content %}
{{ super() }}
<header class="navbar navbar-inverse">
        <div class="container-header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar">Home</span>
                            <span class="icon-bar">Resume</span>
                            <span class="icon-bar">Projects</span>
                            <span class="icon-bar">About</span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('hello') }}">Home<span class="sr-only">(current)</span></a></li>
                            <li><a href="{{ url_for('resume') }}">Resume<span class="sr-only">(current)</span></a></li>
                            <li><a href="{{ url_for('projects') }}">Projects</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <a class="navbar-brand" href="#" style="color: white;">Thomas Philip</a>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
    </header>

<body>
    <div class="container">
        <!-- ===========================
        HEADER
        ============================ -->
        <div id="header" class="row">
            <div class="col-sm-2">
                <img class="propic" src="https://media-exp1.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUKAAAAJDZjY2Y3MWQ0LTQ0ZjgtNDg0NS05MThmLTdhNjBiZWU3ZjcwYg.jpg" alt="">
            </div>
            <!-- photo end-->

            <div class="col-sm-10">
                <div class="cv-title">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>Thomas Philip Cunnapuzha</h1>
                        </div>
                        <div class="col-sm-5 text-right dl-share">
                            <!-- AddToAny BEGIN -->
                            <a class="a2a_dd btn btn-default" href=""><span class="fa fa-share "></span> Share</a>
                            <script type="text/javascript">
                                var a2a_config = a2a_config || {};
                                a2a_config.linkname = "";
                                a2a_config.num_services = 5;
                                a2a_config.prioritize = ["facebook", "google_plus", "linkedin", "pinterest", "email"];
                            </script>
                            <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->

                            <a class="btn btn-success" href=""><span class="fa fa-download"></span> Download</a>
                        </div>
                    </div>
                    <h2>Electronics and Communication Engineer</h2>
                </div><!-- Title end-->

                <!-- ===========================
                SOCIAL & CONTACT
                ============================ -->
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('hello') }}"><span class="social fa fa-home"></span>thomasphilipc.com</a>
                            </li>
                            <li><a href=""><span class="social fa fa-skype"></span>+971529210255</a>
                            </li>
                            <li><a href="mailto:talk2tpc@gmail.com"><span class="social fa fa-envelope-o"></span>talk2tpc@gmail.com</a>
                            </li>
                        </ul>
                    </div><!-- social 1st col end-->

                    <div class="col-sm-4">
                        <ul class="list-unstyled">

                            <li><a href="https://www.linkedin.com/in/thomas-philip-c"><span class="social fa fa-linkedin"></span>Linkedin</a>
                            </li>
                            <li><a href="https://github.com/thomasphilipc"><span class="social fa fa-github"></span>GitHub</a>
                            </li>
                        </ul>
                    </div><!-- social 2nd col end-->


                </div><!-- header social end-->
            </div><!-- header right end-->
        </div><!-- header end-->

        <hr class="firsthr">

        <!-- ===========================
        BODY LEFT PART
        ============================ -->
        <div class="col-md-8 mainleft">
            <div id="statement" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-user"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Personal statement </h3>
                    <p>With over 7 years of experience in product and project managerment roles. I am currently living in United Arab Emirates and working at Roamworks.</p>
                </div><!--info end-->
            </div><!--personal statement end-->

            <hr>

            <div id="education" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-graduation-cap"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Education &amp; Certification</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>BEng. Electronics and Communication Engineering</h4>
                            <p class="sub"><a href="">Anna University</a>
                            </p>
                            <p> For my degree, I took courses in electronics, computers and communication </p>
                        </div>

                        <div class="year col-md-3">
                            <p>2005-2009</p>
                        </div>
                    </div><!--Education & Certification 1 end-->
                </div>
            </div><!--Education & Certifications end-->

            <hr>

            <!-- ===========================
            JOB EXPERIENCES
            ============================ -->
            <div id="job" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-briefcase"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Job Experience</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>Support Engineer</h4>
                            <p class="sub"><a href="">Roamworks</a>
                            </p>
                            <p>
                                <ul>
                                    <li>Provide second level support for Hardware</li>
                                    <li>Assist team with emails and operations tasks</li>
                                    <li>Automate tasks by developing solutions using Python </li>
                                    <li>Worked with the IT team in troubleshooting/development of internal software solutions</li>
                                </ul>
                            </p>
                        </div>

                        <div class="year col-md-3">
                            <p>June 2017 - present</p>
                        </div>
                    </div><!--Job 1 end-->

                    <hr>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>Technical Support and QA Test Engineer</h4>
                            <p class="sub"><a href="">Track24</a>
                            </p>
                            <p>
                              Following an organisational restructuring and move to Dubai, I moved into a Technical support role and lead QA/QC where I would
                              <ul>
                                  <li>Handle escalated queries related to hardware or software.</li>
                                  <li>Liaise with the technical team to fix issues/bugs</li>
                                  <li>Lead Testing on new features and sign-off releases</li>
                                  <li>Work with the Field Support officers on installation and troubleshooting of hardware</li>
                              </ul>
                            </p>
                        </div>

                        <div class="year col-md-3">
                            <p>Aug 2016 - May 2017</p>
                        </div>
                    </div><!--Job 2 end-->

                    <hr>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>Technical Product Manager</h4>
                            <p class="sub"><a href="">Track24</a>
                            </p>
                            <p>
                              Over the years with appreciable knowledge and understanding on both hardware and software technology, experience with software and hardware development cycle, I was able to
                              <ul>
                                  <li>Lead work on a new vertical within company, being a product champion. </li>
                                  <li>Understanding tech trends, and see how they impact your product roadmap. </li>
                                  <li>Understand client requirement and research technology and interface with the Development Team. Analyzing potential partner relationships for new products.</li>
                                  <li>Provide product suggestions and changes.  </li>
                                  <li>Stress testing, reporting bugs, troubleshoot issues at both software and hardware level.</li>
                              </ul>
                            </p>
                        </div>

                        <div class="year col-md-3">
                            <p>Dec 2014 - Aug 2016</p>
                        </div>
                    </div><!--Job 3 end-->

                    <hr>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>Systems Analyst</h4>
                            <p class="sub"><a href="">Track24</a>
                            </p>
                            <p>
                              Being a fast learner and team player, I was involved in multiple domains/departments. And as a driven person in a growing technology company I was able to gain significant exposure in multiple roles. I was also given opportunity to demonstrate my analytical and problem solving skills by working on various projects ranging from web applications, software, smartphone applications and even satellite hardware.
                              <ul>
                                Carried out various projects
                                  <li>Android Development using RAD tool B4A</li>
                                  <li>UI/UX creation for hardware and softwares</li>
                                  Requirement and Functional specification for multiple in-house projects
                                  </li>Track24 Solo</li>
                                  </li>Track24 ELMS</li>
                                </li>Track24 Billing Project</li>
                                  <li>Documentation for hardware and software.</li>
                              </ul>
                            </p>
                        </div>

                        <div class="year col-md-3">
                            <p> Jan 2011 - Dec 2014</p>
                        </div>
                    </div><!--Job 4 end-->

                    <hr>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>IT Support Executive</h4>
                            <p class="sub"><a href="">Track24</a>
                            </p>
                            <p>
                              I joined Track24 fresh out of college at the newly opened U.A.E office and one of my task involved in Ensuring IT infrastructure is up and running
                              <ul>
                                  <li>Setup up IT infrastructure at 3 office locations.</li>
                                  <li>Implement new software solutions to improve collaboration </li>
                                  <li>Provide IT assistance for the various office locations</li>
                                  <li>Manager Server and application deployments</li>
                                  <li>DevOps</li>
                              </ul>
                            </p>
                        </div>

                        <div class="year col-md-3">
                            <p>Apr 2010 - Jan 2011</p>
                        </div>
                    </div><!--Job 5 end-->


                </div><!--Job experiences end-->
            </div><!--Job experiences end-->
        </div><!--left end-->

        <!-- ===========================
        SIDEBAR
        =========================== -->
        <div class="col-md-4 mainright">
            <div class="row">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-magic"></span>
                </div><!--icon end-->

                <div class="col-sm-11 col-md-10">
                    <h3 class="mobmid"> Skills </h3>

                    <p>Comunication</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (success)</span>
                        </div>
                    </div><!--skill end-->


                    <p>Team Leadership</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="sr-only">85% Complete (success)</span>
                        </div>
                    </div><!--skill end-->

                    <p>Project Management</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="sr-only">85% Complete (success)</span>
                        </div>
                    </div><!--skill end-->

                    <p>Creativity and Innovation</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                            <span class="sr-only">65% Complete </span>
                        </div>
                    </div><!--skill end-->

                    </div><!--tech skills end-->
                    <div class="col-sm-11 col-md-10">

                    <div class="col-sm-1 col-md-2 mobmid">
                        <span class="secicon fa fa-magic"></span>
                    </div><!--icon end-->


                    <div class="col-sm-11 col-md-10">
                        <h3 class="mobmid">IT skills </h3>



                    <p>Programming</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div><!--skill end-->

                    <p>Database</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete </span>
                        </div>
                    </div><!--skill end-->

                    <p>IT and Networking</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete (success)</span>
                        </div>
                    </div><!--skill end-->

                    <p>Analysis</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">90% Complete</span>
                        </div>
                    </div><!--skill end-->

                    <p>QC/QA Testing</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div><!--skill end-->

                    <p>Documentation</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                            <span class="sr-only">95% Complete</span>
                        </div>
                    </div><!--skill end-->
                </div><!--info end-->
            </div><!--tech skills end-->

            <hr>

        </div><!--right end-->
    </div><!--container end-->

    <!-- ===========================
    FOOTER

    <footer class="text-center">
        <p>&copy; <a href="http://creativecommons.org/licenses/by/3.0/">CC-3.0</a>, Just another CV template by <a href="https://evenfly.com">EvenFly </a> - Designed by <a target="_blank" href="http://www.facebook.com/towkirahmedbappy">Towkir Ahmed Bappy</a>.
        </p>
    </footer>
=========================== -->
    <!--necessary scripts and plugins-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/evenfly.js"></script>

{% endblock %}